* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    position: relative;

}

#profile_pic{
    width: 34%;
    position: absolute;
    top: 40%;
    right: 40%;
    cursor: pointer;
    transform: translate(60%, -60%);
}

#profile_pic img{
    width: 100%;
    
}